<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>ABC</string>
		<key>_LEVEL</key>
		<integer>1</integer>
		<key>_PARENT</key>
		<string></string>
		<key>_SOURCE_ID</key>
		<string>ABC123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>DEF</string>
		<key>_LEVEL</key>
		<integer>2</integer>
		<key>_PARENT</key>
		<string>ABC123</string>
		<key>_SOURCE_ID</key>
		<string>DEF123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>GHI</string>
		<key>_LEVEL</key>
		<integer>3</integer>
		<key>_PARENT</key>
		<string>DEF123</string>
		<key>_SOURCE_ID</key>
		<string>GHI123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>File</string>
		<key>_NAME</key>
		<string>JKL</string>
		<key>_LEVEL</key>
		<integer>4</integer>
		<key>_PARENT</key>
		<string>GHI123</string>
		<key>_SOURCE_ID</key>
		<string>JKL123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>MNO</string>
		<key>_LEVEL</key>
		<integer>2</integer>
		<key>_PARENT</key>
		<string>ABC123</string>
		<key>_SOURCE_ID</key>
		<string>MNO123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>PQR</string>
		<key>_LEVEL</key>
		<integer>1</integer>
		<key>_PARENT</key>
		<string></string>
		<key>_SOURCE_ID</key>
		<string>PQR123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>STU</string>
		<key>_LEVEL</key>
		<integer>1</integer>
		<key>_PARENT</key>
		<string></string>
		<key>_SOURCE_ID</key>
		<string>STU123</string>
	</dict>
	<dict>
		<key>_NAME</key>
		<string>VWX</string>
		<key>_LEVEL</key>
		<integer>2</integer>
		<key>_PARENT</key>
		<string>STU123</string>
		<key>_SOURCE_ID</key>
		<string>VWX123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>YZ</string>
		<key>_LEVEL</key>
		<integer>3</integer>
		<key>_PARENT</key>
		<string>VWX123</string>
		<key>_SOURCE_ID</key>
		<string>YZ123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>File</string>
		<key>_NAME</key>
		<string>ASD</string>
		<key>_LEVEL</key>
		<integer>4</integer>
		<key>_PARENT</key>
		<string>YZ123</string>
		<key>_SOURCE_ID</key>
		<string>ASD123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>ERT</string>
		<key>_LEVEL</key>
		<integer>3</integer>
		<key>_PARENT</key>
		<string>VWX123</string>
		<key>_SOURCE_ID</key>
		<string>ERT123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>BNM</string>
		<key>_LEVEL</key>
		<integer>2</integer>
		<key>_PARENT</key>
		<string>STU123</string>
		<key>_SOURCE_ID</key>
		<string>BNM123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>QWE</string>
		<key>_LEVEL</key>
		<integer>2</integer>
		<key>_PARENT</key>
		<string>STU123</string>
		<key>_SOURCE_ID</key>
		<string>QWE123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>DFG</string>
		<key>_LEVEL</key>
		<integer>1</integer>
		<key>_PARENT</key>
		<string></string>
		<key>_SOURCE_ID</key>
		<string>DFG123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>HJK</string>
		<key>_LEVEL</key>
		<integer>2</integer>
		<key>_PARENT</key>
		<string>DFG123</string>
		<key>_SOURCE_ID</key>
		<string>HJK123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>TYU</string>
		<key>_LEVEL</key>
		<integer>3</integer>
		<key>_PARENT</key>
		<string>HJK123</string>
		<key>_SOURCE_ID</key>
		<string>TYU123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>File</string>
		<key>_NAME</key>
		<string>CVB</string>
		<key>_LEVEL</key>
		<integer>4</integer>
		<key>_PARENT</key>
		<string>TYU123</string>
		<key>_SOURCE_ID</key>
		<string>CVB123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>ZXC</string>
		<key>_LEVEL</key>
		<integer>3</integer>
		<key>_PARENT</key>
		<string>HJK123</string>
		<key>_SOURCE_ID</key>
		<string>ZXC123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>File</string>
		<key>_NAME</key>
		<string>FGH</string>
		<key>_LEVEL</key>
		<integer>4</integer>
		<key>_PARENT</key>
		<string>ZXC123</string>
		<key>_SOURCE_ID</key>
		<string>FGH123</string>
	</dict>
	<dict>
		<key>_CLASS</key>
		<string>Folder</string>
		<key>_NAME</key>
		<string>CVB</string>
		<key>_LEVEL</key>
		<string>2</string>
		<key>_PARENT</key>
		<string>DFG123</string>
		<key>_SOURCE_ID</key>
		<string>CVB123</string>
	</dict>
</array>
</plist>
